.list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(100, 60, 100, 0.05);
}

.item {
  border: 1px solid rgb(0, 0, 255);

  padding: 5px;
  list-style: none;
  width: 200px;
  background-color: #fff;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.img {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.name {
  font-size: 20px;
  margin-bottom: 5px;
}

.character {
  font-size: 20px;
  color: rgb(64, 64, 64);
}
