.container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: rgba(100, 60, 100, 0.05);
}

.item {
  border: 1px solid rgb(0, 0, 255);
  padding: 5px;
  background-color: #fff;
  list-style: inside;
}

.item::marker {
  margin: 0;
  padding: 0;

  font-size: 20px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.author {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 5px;
}

.review {
  font-size: 15px;
}

.noreview {
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: rgb(90, 0, 40);
}
