.container {
  margin-left: 20px;
  margin-top: 25px;
}

.form {
  display: flex;
}

.input {
  font-size: 20px;
  padding: 5px;
}

.button {
  font-size: 20px;
}

.nofilm {
  font-size: 25px;
  margin-left: 30px;
  margin-top: 10px;
  color: rgb(90, 0, 40);
}
